.card-wide{
   &.mdl-card {
     width: 512px;
   }
   > .mdl-card__title {
     color: #fff;
     height: 200px;
     background: url('../images/RachelAndMe.jpg') center / cover;
   }
   > .mdl-card__menu {
     color: #fff;
   }
}
