.row {
   position: relative;
}
.button-box {
   position: absolute;
   bottom: 0;
   right: 0;
}
.form-group {
   margin: initial;
}
.table>tbody>tr>td {
    vertical-align: middle;
    .btn {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
#save_relationship {
    margin: 0;
}
