.row {
   position: relative;
}
.button-box {
   position: absolute;
   bottom: 0;
   right: 0;
}
.form-group {
   margin: initial;
}
.table>tbody>tr>td {
    vertical-align: middle;
    .btn {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}
