/* line 1, ../sass/screen.scss */
.row {
  position: relative;
}

/* line 4, ../sass/screen.scss */
.button-box {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 9, ../sass/screen.scss */
.form-group {
  margin: initial;
}

/* line 12, ../sass/screen.scss */
.table > tbody > tr > td {
  vertical-align: middle;
}
/* line 14, ../sass/screen.scss */
.table > tbody > tr > td .btn {
  margin-top: 1px;
  margin-bottom: 1px;
}
